<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login attempts</title>
</head>
<body>

<table>
    <tr>
        <th>NAME</th>
        <th>Password</th>
    </tr>
    <tr th:each="user2 : *{users}">
        <td th:text="*{user2.username}">Asger</td>
        <td th:text="*{user2.password}">345</td>
    </tr>
</table>
<a href="index.html">Home</a>
</body>
</html>